<div class="tip__tasx-indtool-wrapper" ng-controller = "indToolCtrl">
    <div class="tip__top-section-heading-cont">
        <h3 class="tip__top-section-heading-cont--header">{{currentSSL.Title}}</h3>
    </div>
    <div class="tip__tasx-intro-section">
        <p class="tip__tasx-intro-section--para">{{currentSSL.IntroMessage}}</p>
    </div>
    <div class="tip__tasx-indtool-main-section">
        <div class="tip__tasx-indtool-main-card-cont">
            <ul class="tip__tasx-tool-card-list">
                <li class="tip__tasx-tool-card-list--item-tool" ng-repeat="searchItem in currentSSLToolsArr">
                    <a ng-href="siteUrlSitePages/Index-Test.aspx/sat-tools/{{searchItem.SSL}}/{{searchItem.Title}}" class="tip__tasx-tool-card-list--link">
                        <div class="tip__tasx-tool-card-list--img-cont">
                            <img ng-hide="searchItem.ToolImage == null" src="{{searchItem.ToolImage.Url}}" alt="" class="tip__tasx-tool-card-list--img">
                            <img ng-if="searchItem.ToolImage == null" src="siteUrlSiteAssets/uki-tas-innovation-test/assets/img/blank-155x146.png" alt="" class="tip__tasx-tool-card-list--img">
                        </div>
                        <div class="tip__tasx-tool-card-list--desc-cont">
                            <div class="tip__tasx-tool-card-list--desc-cont-top">
                                <p class="tip__tasx-tool-card-list--desc-cont-top--heading">{{searchItem.Title}}</p>
                                <div class="tip__tasx-tool-card-list--desc-cont-top--icon tip__ssl-item--{{searchItem.cssClass}}">{{searchItem.SSL}}</div>
                            </div>
                            <div class="tip__tasx-tool-card-list--desc-cont-bottom">
                                <p class="tip__tasx-tool-card-list--desc-cont-bottom--para">
                                   {{searchItem.Intro}}
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tip__tasx-indtool-main-lead-cont">
            <ul class="tip__tasx-indtool-main-lead-list">
                <li class="tip__tasx-indtool-main-lead-list--item">
                    <div class="tip__tasx-indtool-main-lead-img-cont">
                        <p class="tip__tasx-indtool-main-lead-img-cont--heading">Innovation Lead</p>
                        <img ng-if="currentSSL.InnovLeadId == null" src="siteUrlSiteAssets/uki-tas-innovation-test/assets/img/blank-155x146.png" alt="" class="tip__tasx-indtool-main-lead-img-cont--img">
                        <img src="siteUrl_layouts/15/userphoto.aspx?UserName={{currentSSL.ILEmail}}" alt="" class="tip__tasx-indtool-main-lead-img-cont--img">
                    </div>
                    <div class="tip__tasx-indtool-main-lead-desc-cont">
                        <ul class="tip__tasx-indtool-main-lead-desc-cont--list">
                            <li ng-if="currentSSL.InnovLeadId == null" class="tip__tasx-indtool-main-lead-desc-cont--list-item">TBC</li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item">{{currentSSL.ILTitle}}</li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item">{{currentSSL.InnovLeadPos}}</li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item"><a href="mailto:{{currentSSL.ILEmail}}" class="tip__tasx-indtool-main-lead-desc-cont--list-link">{{currentSSL.ILEmail}}</a></li>
                        </ul>
                    </div>
                </li>
                <li class="tip__tasx-indtool-main-lead-list--item">
                    <div class="tip__tasx-indtool-main-lead-img-cont">
                        <p class="tip__tasx-indtool-main-lead-img-cont--heading">Analytics Lead</p>
                        <img ng-if="currentSSL.AnalytLeadId == null" src="siteUrlSiteAssets/uki-tas-innovation-test/assets/img/blank-155x146.png" alt="" class="tip__tasx-indtool-main-lead-img-cont--img">
                        <img src="siteUrl_layouts/15/userphoto.aspx?UserName={{currentSSL.ALEmail}}" alt="" class="tip__tasx-indtool-main-lead-img-cont--img">
                    </div>
                    <div class="tip__tasx-indtool-main-lead-desc-cont">
                        <ul class="tip__tasx-indtool-main-lead-desc-cont--list">
                            <li ng-if="currentSSL.AnalytLeadId == null" class="tip__tasx-indtool-main-lead-desc-cont--list-item">TBC</li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item">                                {{currentSSL.ALTitle}}                                
                            </li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item">{{currentSSL.AnlytLeadPos}}</li>
                            <li class="tip__tasx-indtool-main-lead-desc-cont--list-item"><a href="mailto:{{currentSSL.ALEmail}}" class="tip__tasx-indtool-main-lead-desc-cont--list-link">{{currentSSL.ALEmail}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>